<div class="wrapper">

  <nav id="sidebar" >

      <ul class="nav flex-column">

        <li class="nav-item" style="background-color:lightgreen;" [routerLinkActive]='["link-active"]' [routerLinkActiveOptions]='{ exact: true }'>
                        <a [routerLink]='["/"]'>
                            <fa-icon class="menu-object" [icon]="myfaUserGear" size="2x" style="color: #20c997;"></fa-icon>
                            <div class="menu-object" >
                                {{"HOME" | translate}}
                            </div>
                        </a>
        </li>





        <li class="nav-item" [routerLinkActive]='["link-active"]' [routerLinkActiveOptions]='{ exact: true }'>
                        <a [routerLink]='["/"]' >
                            <fa-icon class="menu-object" [icon]="myfaChartLine" size="2x" style="color: #20c997;"></fa-icon>
                            <div class="menu-object">
                                Dashboard
                            </div>
                        </a>
          </li>




        <li class="nav-item" myExpandMenu >
            <a>
                <fa-icon class="menu-object" [icon]="myFaBuilding" size="2x" style="color: #20c997;"></fa-icon>
                <div class="menu-object">
                    {{"PROPERTIES" | translate}}
                </div>    
            </a>
        </li>

            <ul class="nav submenu" >
                <div class="">
                    <li class="nav-item" [routerLinkActive]='["link-active"]'>
                        <a [routerLink]='["/properties/attributes"]'>
                            {{"PROPERTY ATTRIBUTES" | translate}}
                            <fa-icon [icon]="myFaKitchenSet" style="color: #20c997;"></fa-icon>
                        </a>
                    </li>

                    <li class="nav-item" [routerLinkActive]='["link-active"]'>
                        <a [routerLink]='["/properties/categories"]'>
                            {{"PROPERTY CATEGORIES" | translate}}
                            <fa-icon [icon]="myFaWarehouse" style="color: #20c997;"></fa-icon>
                        </a>
                    </li>
                </div>
            </ul>


        <li class="nav-item"  [routerLinkActive]='["link-active"]'>
                        <a [routerLink]='["/companies"]'>
                            <fa-icon class="menu-object" [icon]="myFaFileContract" size="2x" style="color: #20c997;"></fa-icon>
                            <div class="menu-object">
                                {{"CONTRACTS" | translate}}
                            </div>
                        </a>
        </li>


         
        <li class="nav-item" myExpandMenu>
                        <a >
                            <fa-icon class="menu-object" [icon]="myfaUserGear" size="2x" style="color: #20c997;"></fa-icon>
                            <div class="menu-object">
                                {{"PEOPLE" | translate}}
                            </div>
                        </a>
          </li>
            <ul class=" nav submenu " >
                <li class="nav-item" [routerLinkActive]='["link-active"]'>
                    <a [routerLink]='["/applicationUsers"]'>
                        {{"LESSOR" | translate}}
                        <fa-icon [icon]="myFaPersonShelter"  style="color: #20c997;"></fa-icon>
                    </a>
                </li>
                <li class="nav-item" [routerLinkActive]='["link-active"]'>
                        <a [routerLink]='["/applicationUsers/userProducts"]'>
                        {{"LESSEE" | translate}}
                        <fa-icon [icon]="myFaPeopleRoof" style="color: #20c997;"></fa-icon>
                        </a>
                </li>
                <li class="nav-item" [routerLinkActive]='["link-active"]'>
                        <a [routerLink]='["/applicationUsers/userProducts"]'>
                            {{"GUARANTOR" | translate}}
                            <fa-icon [icon]="myFaUserShield" style="color: #20c997;"></fa-icon>
                        </a>
                </li>
            </ul>
  
  

        <li class="nav-item" myExpandMenu>
          <a>
            <i class="menu-object" class="fa fa-bar-chart " style="color: #20c997;"></i> 
            <div class="menu-object">
                Pendências
            </div>
          </a>
        </li>

        <ul class=" nav submenu " >
          <li class="nav-item" [routerLinkActive]='["link-active"]'>
            <a [routerLink]='["/machines"]'>
              <i class="fa fa-cogs" style="color: #20c997;"></i> Machines
            </a>
          </li>

          <li class="nav-item" [routerLinkActive]='["link-active"]'>
            <a [routerLink]='["/machines/machineStatus"]'>
              <i class="fa fa-thermometer-three-quarters" style="color: #20c997;"></i> Machine Status
            </a>
          </li>

          <li class="nav-item" [routerLinkActive]='["link-active"]'>
            <a [routerLink]='["/machines/machineParameters"]'>
              <i class="fa fa-tachometer" style="color: #20c997;"></i>  Parameters
            </a>
          </li>


          <li class="nav-item" [routerLinkActive]='["link-active"]'>
            <a [routerLink]='["/machines/machineProductTypes"]'>
              <i class="fa fa-window-restore" style="color: #20c997;"></i> Product Types
            </a>
          </li>

        </ul>


        <li class="nav-item" myExpandMenu>
          <a>
            <i class="fa fa-cogs" style="color: #20c997;"></i>
            <div class="menu-object">
                Bancos
            </div>
          </a>
        </li>
        <ul class=" nav submenu " >
          <li class="nav-item" [routerLinkActive]='["link-active"]'>
            <a [routerLink]='["/maintenanceGroups"]'>
              <i class="fa fa-cog " style="color: #06a3a8;"></i>  Groups
            </a>
          </li>

          <li class="nav-item" [routerLinkActive]='["link-active"]'>
            <a [routerLink]='["/maintenanceGroups/maintenanceUsers"]'>
              <i class="fa fa-users " style="color: #06a3a8;"></i>  Users
            </a>
          </li>
        </ul>
      </ul>
    <!-- </div> -->

</nav>

</div>
