  <form #loginForm="ngForm" class="form-signin" (ngSubmit)="login()">

    <div class="text-center">
        <div class="container">
            <div class="offset-lg-4 col-lg-4  offset-md-2 col-md-8  offset-sm-1 col-sm-10 ">
                <mat-card class="form-control"> 
                    <mat-card-title>{{"WELCOME KALLEIMOB" | translate}}</mat-card-title>
                    <mat-card-subtitle>&copy; Kalle Sofware ForInnovation</mat-card-subtitle>

                    <mat-card-content class="d-flex flex-column"> 

                    <!-- <img class="mb-4" src="{{logoURL}}" alt="Machine" height="100"> -->
                        <h3 class="h3 mb-3 font-weight-normal">{{"PLEASE LOGIN" | translate }}</h3>

                        <mat-form-field  >
                            <input matInput  type="text" name="email" [placeholder]="EMAIL_MESSAGE " required [(ngModel)]="email">
                        </mat-form-field>

                        <div class="mobile-entry-group">
                            
                                <mat-form-field  class="country-item">
                                    <input matInput  type="text" name="countryCallingCode" [placeholder]="MOBILE_COUNTRY_MESSAGE" required [(ngModel)]="countryCallingCode">
                                </mat-form-field>
                            
                            
                                <mat-form-field  clsas="mobile-item">
                                    <input matInput  type="text" name="mobile" [placeholder]="MOBILE_MESSAGE" required [(ngModel)]="mobile">
                                </mat-form-field>
    
                            
            
                        </div>
                    
                        <mat-form-field  >
                            <input matInput  type="password" name="password" [placeholder]="PASSWORD_MESSAGE" required [(ngModel)]="password">
                        </mat-form-field>

                        <mat-form-field  >
                            <input matInput  type="text" name="domainName" placeholder="Domínio" required [(ngModel)]="domainName">
                        </mat-form-field>

                        <mat-slide-toggle  name="rememberMe" [(ngModel)]="rememberMe">
                            {{"REMEMBER ME" | translate}}
                        </mat-slide-toggle>
                        <br>
                        <mat-hint>{{"REMEMBER ADVISE" | translate}}</mat-hint>

                    </mat-card-content>
                </mat-card>
                <button mat-raised-button color="accent" [disabled]="!loginForm.valid" class="w-100 mt-2" type="submit">Sign in</button>
            </div>


        </div>

        

        
        <div *ngIf="isDevelopment" >

            <div class="container">
                <mat-card class="mt-3 offset-lg-4 col-lg-4  offset-md-2 col-md-8  offset-sm-1 col-sm-10 "> 
                    <mat-card-content >
                        <label  id="example-radio-group-label">Environment:</label>
                            <mat-radio-group aria-label="Environment" name="environmentOptions"  [(ngModel)]="chosenEnvironment"
                                            class="d-flex flex-column p-2">
                            <mat-radio-button class="py-1" value="localhost">Localhost  {{ localhostUrl }}</mat-radio-button>
                            <mat-radio-button class="py-1" value="dev">Development  {{ devUrl }}</mat-radio-button>
                            <mat-radio-button class="py-1" value="uat">UAT  {{ uatUrl }}</mat-radio-button>
                            <mat-radio-button class="py-1" value="prod">Production  {{ prodUrl }}</mat-radio-button>
                        </mat-radio-group>
                
                    </mat-card-content>
                </mat-card>
            </div>
        </div>
    </div>

    <!-- class="btn btn-lg btn-primary btn-block" -->
    <p class="mt-5 mb-3 text-muted">&copy; ForInnovation 2022</p>
  </form>
