
<div [class.app-is-mobile]="mobileQuery.matches"  [class.my-dark-theme]="userPreferencesService && userPreferencesService.darkMode">

    <!-- <app-nav-topmenu (toggleNavMenu)='newToggleNavMenu($event)'></app-nav-topmenu> -->
  
    <mat-toolbar color="primary" class="example-toolbar fixed-top">
        <button mat-icon-button (click)="snav.toggle()"><mat-icon>menu</mat-icon></button>
  
        <!-- flex-grow-1  -->
        <div class="flex-grow-1">
            <div class="ml-1 d-inline-flex align-items-center">
              <a class="navbar-brand" href="#">
                <img src="{{ logoURL }}" height="40" alt="Logo" />
              </a>
              <div class="h5 m-0 text-white">KALLE IMOB <small *ngIf="!mobileQuery.matches"  style="font-size: 50%">{{version}}</small></div>
  
            </div>
          </div>
  
  
          <button *ngIf="LoggedIn()" mat-raised-button class="toolbarMenu"  [matMenuTriggerFor]="appMenu">
              {{ LoggedUsername() | titlecase }}
          </button>
          <mat-menu #appMenu="matMenu">
              <button *ngIf="userPreferencesService" mat-menu-item (click)="toggleDarkTheme()">{{userPreferencesService.darkMode  ? "Light Theme" : "Dark Theme"}}</button>
              <button *ngIf="userPreferencesService" mat-menu-item (click)="toggleDebugMode()">{{userPreferencesService.debugMode ? "Disable Debug" : "Enable Debug"}}</button>
              <div class="divider dropdown-divider"></div>
              <button mat-menu-item (click)="logout()">Logout</button>
            </mat-menu>
  
    </mat-toolbar>
  
  
  <!-- [style.marginTop.px]="mobileQuery.matches ? 56 : 100" -->
  
    <mat-sidenav-container  class="app-sidenav-container" [style.marginTop.px]="56">
        <mat-sidenav #snav  [mode]="mobileQuery.matches ? 'over' : 'side'"
                            [fixedInViewport]="mobileQuery.matches"
                            [opened]="!mobileQuery.matches"
                            fixedTopGap="56">
            <mat-nav-list>
                <app-nav-menu ></app-nav-menu>
            </mat-nav-list>
        </mat-sidenav>
  
        <mat-sidenav-content>
            <div  class="main-container">
                <router-outlet></router-outlet>
            </div>
        </mat-sidenav-content>
    </mat-sidenav-container>
  
  </div>
  