.col-text {
  text-align: left;
}

.col-number {
  text-align: right;
}

.row-even {
  background-color: ;
}
.row-odd {
  
}

.dashboard {
  display: flex; 
  flex-direction: row ;
  flex-wrap: wrap;
 // justify-content: space-around; // flex-start | flex-end | center | space-between | space-around | space-evenly | start | end | left | right
  align-items: flex-start; //stretch | flex-start | flex-end | center | baseline | first baseline | last baseline | start | end | self-start | self-end
  gap: 10px;
  margin-left: 10px;
}


.dashboardCard {
  width: 18rem;
}

// .dashboardHeader {
//   class="fw-bold bg-primary text-dark bg-opacity-25"
// }
